<form method="POST">
    <div>Username<input type="text" name="username"></div>
    <div>Password<input type="password" name="password"></div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>